# Python
.venv/
__pycache__/
*.pyc

# Node / Vue
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db


firebase-credentials.json
*.pyo
temp_*.jpg
venv/

mini_backend/ 
instance/